:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 54px; 
}

input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(293deg, #001B62 6.24%, #8B4B72 92.5%, #8B4B72 92.5%);
  color: white;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}